<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>HiringHub</title>
</head>
<body>
    <header>
	<h1 align="left">HiringHub</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('interview_questions') }}">Interview Questions</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
